<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<!-- Footer -->
<footer class="bg-light mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>BookStore24</h5>
                <p class="text-muted">대한민국 최대 온라인 서점<br>다양한 도서와 함께하는 독서 생활</p>
            </div>
            <div class="col-md-3">
                <h6>고객센터</h6>
                <p class="text-muted">
                    1588-1234<br>
                    평일 09:00~18:00<br>
                    주말/공휴일 휴무
                </p>
            </div>
            <div class="col-md-3">
                <h6>서비스</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted text-decoration-none">회사소개</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">이용약관</a></li>
                    <li><a href="#" class="text-muted text-decoration-none">개인정보처리방침</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>SNS</h6>
                <div>
                    <a href="#" class="text-muted me-3"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="text-muted me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="text-muted"><i class="fab fa-twitter fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="text-center text-muted">
            <p>&copy; 2024 BookStore24. All rights reserved.</p>
        </div>
    </div>
</footer>
</html>